*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.nav-container{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu-btn{
    display: none;
}

.nav-container ul{
    list-style: none;
    display: flex;
    font-size: 25px;
}

.nav-container ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 13px;
    border: 2px solid transparent;
}

.nav-container ul li:hover{
    border: 2px solid black;
}

.nav-container ul li:last-child{
    margin-left: 13px;
    border: 2px solid black;
}

.nav-container ul li:last-child a{
    color: hsl(270, 9%, 17%);
}

.nav-container ul li a{
    text-decoration: none;
    color: hsl(273, 4%, 51%);
    padding: 13px;
    font-size: 1.2rem;
    font-weight: bold;
}

.view-plans{
    color: white;
    border: 2px solid white;
}


.logo{
    padding: 30px 0;
}

.mobile-nav-pattern{
    display: none;
}

/******************** humatizing *************************/
.humatizing{
    width: 100%;
    justify-content: center;
    background-color: hsl(256, 26%, 20%);
    color: white;
    position: relative;
}

.humatizing .body-container{
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}

.humatizing div{
    flex: 1;
}

.humatizing .line{
    height: 2px;
    width: 30%;
    background-color: white;
    margin-bottom: 2.5rem;
}

.humatizing h1{
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-size: 50px;
    max-width: 90%;
}

.humatizing p{
    font-size: 1.2rem;
    max-width: 90%;
    margin: 2.1rem 0;
    line-height: 2rem;
}

.humatizing a{
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1rem;
}

.humatizing .people-img{
    width: 100%;
    transform: translateY(20%);
}



.pattern-intro-desktop{
    position: absolute;
}

.pattern-intro-desktop-right{
    top: 0;
    right: 0;
    width: 28%;
}

.pattern-intro-desktop-left{
    left: 0;
    bottom: 0;
    width: 12%;
    bottom: -40%;
}

.pattern-intro-mobile{
    display: none;
}


/**************8 benefits ********************/

.benefits-container{
    max-width: 80%;
    margin: auto;
    padding-top: 200px;
}

.benefits-container .line{
    height: 2px;
    width: 150px;
    background-color: hsl(216, 30%, 68%);
}

.benefits-container h2{
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 100px;
}

.benefits{
    display: flex;
}

.benefit{
    flex: 1;
}

.benefit p{
    color: hsl(273, 4%, 51%);
    line-height: 23px;
}

.benefit h3{
    font-size: 1.5rem;
    padding: 30px 0 40px 0;
}

.benefit{
    margin-right: 50px;
}

.benefit:last-child{
    margin-right: 0;
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    max-width: 80%;
    margin: 150px auto;
    padding: 75px;
    background-color: hsl(256, 26%, 20%);
    color: white;
    position: relative;
    z-index: 1;
}

.banner h2{
    font-size: 50px;
    max-width: 45%;
}

.banner a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 15px 23px;
    border: 2px solid white;
    cursor: pointer;
    z-index: 1;
}

.banner a:hover{
    
}

.banner-pattern-mobile, .banner-pattern-desktop{
    position: absolute;
    z-index: -1;
}

.banner-pattern-desktop{
    right: 0;
}

 .banner-pattern-mobile{
    display: none;
}


/* footer */

footer{
    background-color: hsl(0, 0%, 98%);
    padding: 65px 0;
    position: relative;
    z-index: 1;
}

.footer-container{
    max-width: 80%;
    margin: auto;
    z-index: 2;
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 1px solid hsl(273, 4%, 51%);
    z-index: 1;
}

.socials img{
    margin-left: 15px;
}

.socials img:hover{
    cursor: pointer;
}

.links{
    display: flex;
}

.link{
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.link a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.link .headers{
    padding-top: 50px;
    padding-bottom: 40px;
    color: hsl(273, 4%, 51%);
}

.pattern-footer-desktop, .pattern-footer-desktop{
    position: absolute;
    z-index: -1;
}

.pattern-footer-desktop{
    left: 0;
    top: 0;
}

.pattern-footer-mobile{
    display: none;
}















@media(max-width: 1000px){
nav{
    position: relative;
}

    .nav-container{
        flex-direction: column;
        position: relative;
        justify-content: flex-start;
    }

    .logo{
        align-self: flex-start;
    }

    .nav-container ul{
        flex-direction: column;
        background-color: bisque;
        width: 100vw;
        text-align: center;
        flex: 1;
        display: none;
        padding-top: 25px;
        background-color: hsl(270, 9%, 17%);
    }

    .nav-container ul li{
        padding: 25px;
        width: 90%;
        margin: auto;
        border: 2px solid transparent;
    }

    .nav-container ul li:last-child, .nav-container ul li:hover{
        border-color: white;
        margin: auto;
    }

    .nav-container ul li:last-child a{
        color: white;
    }

    .nav-container ul li a{
        color: white;
    }

    .nav-container ul li .view-plans{
        border: none;
    }

    .nav-container .menu-btn{
        position: absolute;
        right: 0;
        top: 23px;
    }

    .nav-container .menu-open{
        display: block;
    }

    .menu-close-btn{
        display: none;
    }

    .menu-opened .nav-container .menu-close-btn{
        display: block;
    }

    .menu-opened ul{
        display: block;
    }

    .menu-opened .mobile-nav-pattern{
        display: block;
        width: 100vw;
        position: absolute;
        bottom: 0;
    }

    .menu-opened .nav-container{
        height: 100vh;
    }


    /* humanizing */

    .humatizing .body-container{
        flex-direction: column-reverse;
        width: 90%;
    }

    .humatizing .body-container div{
        text-align: center;
    }

    .humatizing .body-container .humatizing-text{
        padding: 80px 0;
        width: 90%;
    }

    .humatizing-text h1{
        font-size: 3rem;
        line-height: 3.7rem;
    }

    .humatizing-text{
        font-size: 1rem;
        position: relative;
    }

    .humatizing .body-container div p{
        max-width: 100%;
    }

    .humatizing .body-container div h1{
        max-width: 100%;
    }

    .humatizing .people-img{
        width: 100vw;
        margin-top: 0;
        transform: translateY(0);
    }

    .humatizing > .pattern-intro-right, .line{
        display: none;
    }

    .pattern-intro-mobile{
        display: block;
        position: absolute;
    }

    .pattern-intro-desktop{
        display: none;
    }

    .pattern-intro-mobile-left{
        top: -5px;
        left: -15%;
    }

    .pattern-intro-mobile-right{
        right: -11%;
        bottom: -11rem;
    }


    /********** benefits *****************/

    .benefits-container{
        text-align: center;
        padding-top: 140px;

    }

    .benefits-container h2{
        padding: 45px 0 80px 0;
    }

    .benefits-container .line{
        display: block;
        margin: auto;
    }

    .benefits{
        flex-direction: column;
    }

    .benefit{
        margin: 0;
        padding-bottom: 60px;
    }

    .benefit:last-child{
        padding-bottom: 0;
    }

    /* banner */

    .banner{
        flex-direction: column;
        padding: 75px;
        text-align: center;
        height: auto;
    }

    .banner h2{
        font-size: 27px;
        margin-bottom: 45px;
        max-width: 100%;
    }

    .banner-pattern-desktop{
        display: none;
    }

    .banner-pattern-mobile{
        display: block;
        right: 0;
        top: 0;
    }


    /* footer */
    .socials{
        flex-direction: column;
    }
    
    .socials .footer-logo{
        margin-bottom: 30px;
    }

    .links{
        flex-direction: column;
        align-items: center;
    }

    .link{
        text-align: center;
    }

    .link .headers{
        margin-bottom: 0;
    }

    .pattern-footer-desktop{
        display: none;
    }

    .pattern-footer-mobile{
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }
}